.personsContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0 10px;
  justify-content: center;
  justify-items: flex-start;
  align-items: flex-start;
}

.person {
  padding: 0.5rem 0.8rem;
  width: auto;
  background-color: var(--bs-white);
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
  color: var(--bs-black);
  margin-bottom: 10px;
}

.person.selected {
  color: var(--bs-white);
  background-color: var(--bs-success);
}

.person:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.person-name {
  margin-right: 0.3rem;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.page-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 60px - 150px);
  margin: 20px auto 45px;
  padding: 1rem 0 0;
}

.footer {
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: var(--bs-primary);
  padding: 1.5rem 20px 35px;
  color: var(--bs-white);
}